body{
    margin-left: 100px;
    background-color: #282c34;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: calc(10px + 2vmin);
    justify-content: center;
    min-height: 100vh;
    

}

button{
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    color: #282c34;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease-in-out;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    margin: 0.5rem;
}   





